<!DOCTYPE HTML>
<html lang="en">
<head>
<title></title>
<meta name="description" content=""/>

<link rel="stylesheet" href="" type="text/css" media="screen" title="no title" charset="utf-8"> <!--Have to put the stylesheet in a "public" folder, same as this .erb file goes in the "views" folder -->

</head>

<header>
 
</header>
<body>

<%= yield %>

</body>

<footer> 

</footer>



</html>