<!DOCTYPE HTML>
<html lang="en">
<head>
<title>HTML and CSS | OCSWiki</title>
<meta name="description" content="Wiki project about HTML and CSS to practice HTML and CSS. This is literally a 'meta' description. "/>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8"> <!--Have to put the stylesheet in a "public" folder, same as this .erb file goes in the "views" folder -->

</head>

<header link="#000000" vlink="#000000" alink="#000000">

 <img class="imglogo" src="http://omahacodeschool.com/assets/ocs_title_bottom-0f5701005b41e72992e41e1e05b6deee.png" >
 

<h1 align="center">HTML and CSS | <em style="color: #778899">OCS Wiki</em></h1>
<hr></hr>
<h3 style="padding-left:175px">Library card form</h3>
</header>
<body link="#000000" vlink="#000000" alink="#000000">
<div main text style="padding-left:25px">
<%= yield %>

<br><br>
</div maintext>
</body>
<hr>
<footer align="right" style="margin-right:10px;"> 
<h4>LINKS:</h4>
<h5><em style="color: #778899"><a href="file://localhost/Users/hilarysk/Code/2015-02-09-basic-html-css/html/index.html">HTML</a></em> | <em style="color: #778899"><a href="file://localhost/Users/hilarysk/Code/2015-02-09-basic-html-css/css/index.html">CSS</a></em></h5>

</footer>



</html>