<!DOCTYPE HTML>
<html lang="en">
<head>
<title>HTML and CSS | OCSWiki</title>
<meta name="description" content="Wiki project about HTML and CSS to practice HTML and CSS. This is literally a 'meta' description. "/>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8"> <!--Have to put the stylesheet in a "public" folder, same as this .erb file goes in the "views" folder -->

</head>

<header link="#000000" vlink="#000000" alink="#000000">

 <img class="imglogo" src="http://omahacodeschool.com/assets/ocs_title_bottom-0f5701005b41e72992e41e1e05b6deee.png">
 

<h1 align="center">HTML and CSS | <em style="color: #778899">OCS Wiki</em></h1>
<hr></hr>
<h3 style="padding-left:175px">Library card form</h3>
</header>
<body link="#000000" vlink="#000000" alink="#000000">
<div main text style="padding-left:25px">

<p>Welcome, <%= @name %>!</p>








  <img src="http://allthingsd.com/files/2013/11/shutterstock_112499642.jpg" width="300" style="padding-left:75px"><br><br>
<p><strong>We're so excited you want to join the library!</strong> Just answer<br>
the questions listed below and we'll get you on your way.<br>
<br>
<form><strong>First name:</strong><br>
<input type="text" name="firstname" value="<%= @name %>">
<br><br>
<strong>Last name:</strong><br>
<input type="text" name="lastname" value="ie: Zeng">
<br><br>
__________________<br><br>

<strong>Gender identity:</strong><br><br>
<input type="radio" name="gender" value="man">Man / boy
<br>
<input type="radio" name="gender" value="woman">Woman / girl
<br>
<input type="radio" name="gender" value="trans">Trans
<br>
<input type="radio" name="gender" value="genderqueer">Genderqueer / Fluid
<br>
<input type="radio" name="gender" value="notsay">Rather not say
<br><br>
__________________<br><br>
<strong>Age:</strong><br><br>
<input type="text" name="age" value="ie: 12">
<br><br>
__________________<br><br>
<strong>Ethnic background:</strong><br><br>
<input type="checkbox" name="ethnicity" value="white">White or Caucasian
<br>
<input type="checkbox" name="ethnicity" value="hispanic">Hispanic of Latino
<br>
<input type="checkbox" name="ethnicity" value="multiracial">Multiracial
<br>
<input type="checkbox" name="ethnicity" value="asian">Asian-American/Pacific Islander
<br>
<input type="checkbox" name="ethnicity" value="black">Black or African-American
<br>
<input type="checkbox" name="ethnicity" value="native">Native American or Alaska Native
<br><br>
__________________<br><br>

<strong>What's your favorite genre of books?</strong>
<br> <br>
<select name="books">
<option value="home">Select from menu:</option>
<option value="fantasy">Fantasy / Science Fiction</option>
<option value="nonfiction">Nonfiction</option>
<option value="mystery">Mystery / Suspense</option>
<option value="biography">Biography / Autobiography</option>
<option value="graphic">Graphic Novels / Comics</option>
<option value="poetry">Poetry</option>
<option value="history">History</option>
</select><br><br>
__________________<br><br>
<strong>Address</strong><br><br>
Number and street:<br>
<input type="text" name="street"><br>
City:<br>
<input type="text" name="city"><br>
State:<br>
<input type="text" name="state"><br>
Zipcode:<br>
<input type="text" name="zip">
<br><br>
__________________<br><br>
<strong>What features or programs of the library do you expect to use most?</strong><br><br>
<textarea cols="90" rows="5" name="lastname">
</textarea>
<br><br>


<input type="submit" value="Submit">
<br><br>
</form> 
</div maintext>
<hr>
<footer align="right" style="margin-right:10px;"> 
<h4>LINKS:</h4>
<h5><em style="color: #778899"><a href="file://localhost/Users/hilarysk/Code/2015-02-09-basic-html-css/html/index.html">HTML</a></em> | <em style="color: #778899"><a href="file://localhost/Users/hilarysk/Code/2015-02-09-basic-html-css/css/index.html">CSS</a></em></h5>

</footer>


</body>
</html>